.anim-parent {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.anim-last-element, .anim-next-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.anim-last-element {
    pointer-events: none;
}

.anim-last-element.anim-direction-next {
	-webkit-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}

.anim-next-element.anim-direction-prev {
	-webkit-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
}

.anim-last-element.anim-direction-prev {
	-webkit-animation: moveToRight .6s ease both;
	animation: moveToRight .6s ease both;
}

.anim-next-element.anim-direction-next {
	-webkit-animation: moveFromRight .6s ease both;
	animation: moveFromRight .6s ease both;
}

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-30%); opacity: 0; }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-30%); transform: translateX(-30%); opacity: 0; }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-30%); opacity: 0; }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-30%); transform: translateX(-30%); opacity: 0; }
}

@-webkit-keyframes moveToRight {
	from { }
	to { -webkit-transform: translateX(30%); opacity: 0; }
}
@keyframes moveToRight {
	from { }
	to { -webkit-transform: translateX(30%); transform: translateX(30%); opacity: 0; }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(30%); opacity: 0; }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(30%); transform: translateX(30%); opacity: 0; }
}