html {
    height: 100%;
}

body {
    font-family: "Poppins", "Segoe UI", Arial, Helvetica, sans-serif;
    background: no-repeat center/cover url("../img/background.png");
    user-select: none;
    cursor: default;
    color: #000000;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .lead {
    font-family: "Montserrat", "Segoe UI", Arial, Helvetica, sans-serif;
}

.maintitle {
    font-weight: 200;
    font-size: 7.3958vw;
    margin-left: 8.3333vw;
    margin-top: 9.2708vw;
}

.mainsubtitle {
    font-weight: bold;
    font-size: 3.3333vw;
    margin-left: 8.3333vw;
    margin-top: 1.5625vw;
}

.mainlogo {
    height: 8.4375vw;
    position: absolute;
    left: 8.3333vw;
    bottom: 3.8542vw;
}

.white {
    color: #ffffff;
}

.no-margin {
    margin: 0;
}

.mt30 {
    margin-top: 30px;
}

.fadein {
    animation: fadein 2s ease forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tut-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tut-panel {
    position: relative;
    width: 750px;
    margin: 80px 0;
}

.tut-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.tut-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.tut-header::before, .tut-header::after, .tut-footer::before, .tut-footer::after {
    content: " ";
    display: table;
}

.tut-header::after, .tut-footer::after {
    clear: both;
}

.tut-title {
    margin: 0;
    line-height: 1.42857143;
}

.tut-body {
    position: relative;
    padding: 20px;
}

.tut-footer {
    padding: 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.tut-image {
    width: 256px;
    height: 256px;
}

.intense {
    font-weight: 900;
}